# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TP2.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Edward\Documents\Unity Projects\LOG4715\TP2\.idea\.idea.TP2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
